<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'BrewingController' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>c1e6aaec-2d6b-4a57-a479-2e893306d605</InstrumentationKey>
</ApplicationInsights>